<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shenjiafa.mapper.UserInfoMapper">
    <resultMap id="userResultMap" type="com.shenjiafa.pojo.UserInfo">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="insert_time" property="insertTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectAllUserInfos" resultMap="userResultMap">
        select *
        from t_user_info;
    </select>

    <select id="selectUserInfosByUserId" resultMap="userResultMap">
        select *
        from t_user_info
        where user_id = #{userId};
    </select>

    <select id="selectUsersByConditions" resultMap="userResultMap">
        select *
        from t_user
        <where>
            <if test="name!=null and name!=''">
                name like #{name}
            </if>
            <if test="gender!=null and gender!=''">
                and gender = #{gender}
            </if>
            <if test="age!=null">
                and age = #{age}
            </if>
            <if test="address!=null and address!=''">
                and address like #{address};
            </if>
        </where>
    </select>

    <select id="selectUsersByObject" resultMap="userResultMap">
        select *
        from t_user
        <where>
            <if test="name!=null and name!=''">
                name like #{name}
            </if>
            <if test="gender!=null and gender!=''">
                and gender = #{gender}
            </if>
            <if test="age!=null">
                and age = #{age}
            </if>
            <if test="address!=null and address!=''">
                and address like #{address};
            </if>
        </where>
    </select>

    <select id="selectUsersByMap" resultMap="userResultMap">
        select *
        from t_user
        <where>
            <if test="name!=null and name!=''">
                name like #{name}
            </if>
            <if test="gender!=null and gender!=''">
                and gender = #{gender}
            </if>
            <if test="age!=null">
                and age = #{age}
            </if>
            <if test="address!=null and address!=''">
                and address like #{address};
            </if>
        </where>
    </select>

    <select id="selectUsersSingle" resultMap="userResultMap">
        select *
        from t_user
        <where>
            <choose>
                <when test="name!=null and name!=''">
                    name like #{name}
                </when>
                <when test="gender!=null and gender!=''">
                    gender = #{gender}
                </when>
                <when test="age!=null">
                    age = #{age}
                </when>
                <when test="address!=null and address!=''">
                    address like #{address};
                </when>
            </choose>
        </where>
    </select>

    <insert id="addUserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_info (user_id, user_name, gender, age, height, address, insert_time, update_time)
        values (#{userId}, #{userName}, #{gender}, #{age}, #{height}, #{address}, now(), now());
    </insert>

    <update id="updateUserByUserId">
        update t_user_info
        set user_id=#{userId},
            user_name=#{userName},
            gender=#{gender},
            age=#{age},
            address=#{address},
            update_time=now()
        where user_id = #{userId};
    </update>

    <delete id="delUserInfoByUserId">
        delete
        from t_user_info
        where user_id = #{userId}
    </delete>

    <delete id="deleteUserByUserIds">
        delete
        from t_user
        where userid in
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </delete>


</mapper>
